/* Kay STYLES */
body{
    font-family: "Agency FB";
}
.hold{
    background-color: lightgray;
    height:100vh;
    margin-top: 4.5%;
    align-content: center;
    flex-wrap: wrap;
}
.hold1{
    background-color: saddlebrown;
    height: 100%;

}
.hold2{
    background-color: wheat;
    height: 100%;
}
.hold3{
    background-color: darkgoldenrod;
    height: 100%;
}
#img-flow{
    height: 70%;
    margin-left: 40%;
}
header{
    margin-bottom: 60px;
}
/*.nav-content{*/
    /*margin-right: 150px;*/
/*}*/
.navbar-brand{
    font-family: "Agency FB";
}
#collapseEx2{
    margin-left: 380px;
}
.products{
    background-color: lightgray;
    margin: 10px 0px 10px 0px;
}
.card .card-block{
    border-radius: 30px;
}
.card-footer{
    display: none;
}
.card:hover .card-footer{
    display: block;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.card:hover{
    cursor: pointer;
}
.card .card-footer:after {
    position: absolute;
    transition: 0.5s;
}
#featured-ad{

}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration-color: orange;
    text-decoration: underline;
}
#footer-logo{
    margin-left: 25%;
    margin-right: 25%;
}
h3{
    font-family: "Agency FB";
}
h2{
    font-family: "Agency FB";
}
h4{
    font-family: Stencil;
}
@media screen and (max-width: 800px){
    .hold{
        max-width: 100%;
        min-height: 100vh;
        display: block;
    }
    .card-footer{
        display: block;
        flex-wrap: wrap;
    }
    #featured-ad{
        flex-wrap: wrap;
    }
    #featured-ad-section{
        width: 100%;
    }
    #footer-logo{
        margin-left: auto;
        margin-right: auto;
    }

}